<div class="card bg-light mb-3">
  <div class="card-body">

    <h4 class="card-title">
      <%= link_to article.title, article, class: 'text-dark text-decoration-none' %>
    </h4>

    <div class="text-muted mb-2">
      <em>Por <%= article.user.name %> (<%= l article.created_at, format: :short %>)</em>
    </div>

    <p class="card-text text-dark" style="font-size: 16px;">
      <%= article.body.truncate(200) %>
    </p>

    <p class="text-muted">
      <%= pluralize(article.comments.count, 'Comentário') %>
    </p>

    <%= link_to 'Ler Artigo', article, class: 'btn btn-primary' %>

    <% if user_signed_in? && article.user == current_user %>
      <%= link_to 'Editar', edit_article_path(article), class: 'btn btn-secondary' %>

      <%= form_with(model: article, method: :delete, local: true) do |form| %>
        <%= form.submit 'Excluir', class: 'btn btn-danger', data: { confirm: 'Você tem certeza que deseja excluir este artigo?' } %>
      <% end %>
    <% end %>
  </div>
</div>
