<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Mainô</title>

  <!-- Aqui você inclui o bootstrap e outros scripts via importmap -->
  <%= javascript_importmap_tags %>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><%= link_to "Login", new_session_path %></li>
      </ul>
    </nav>
  </header>

<main>
  <!-- O código a seguir aplica a barra com fundo vermelho e texto branco -->
  <div class="bg-danger text-white text-center mb-4 p-4">
    <%= link_to root_path, class: "text-white text-decoration-none" do %>
      <h1 class="display-4"> Blog Mainô </h1>
    <% end %>
    <p class="lead"> Bem-vindo! Um espaço para compartilhar conhecimentos sobre programação e tecnologia.</p>
  </div>

  <%= yield %> <!-- Aqui o conteúdo da página será exibido -->
</main>


<footer class="bg-danger text-white text-center mt-5 p-3">
  <p>&copy; Blog Mainô <%= Date.current.year %></p>
</footer>

</body>
</html>
